In [1]:
import pandas as pd
purchase_data = pd.read_csv("C:/Users/Sam Kumar/Desktop/HeroesofPymoli.csv")
player = purchase_data['SN'].nunique()
players = pd.DataFrame({"Total Players": [player]})
print(players)

   Total Players
0            576

In [2]:
purchase_analysis = pd.DataFrame({"Number of Unique Items" : purchase_data['Item Name'].nunique(),"Average Price": 
                                  purchase_data['Price'].mean(),"Number of Purchases":
                                      len(purchase_data.index), "Total Revenue":
                                        purchase_data['Price'].sum() }, index = [0])
    
print(purchase_analysis)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [3]:
male_df = purchase_data[purchase_data['Gender'] == 'Male']
female_df = purchase_data[purchase_data['Gender'] == 'Female']
other_df = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']
mpercent = (male_df["SN"].nunique()*100)/(player)
fpercent = (female_df["SN"].nunique()*100)/(player)
opercent = (other_df["SN"].nunique()*100)/(player)
gender_analysis = pd.DataFrame({'Total Count:': [male_df["SN"].nunique(),
                                female_df["SN"].nunique(), other_df["SN"].nunique()],
                                'Percentage (%):' : [mpercent, fpercent, opercent] }, index = ['Male', 'Female','Other/NonDisclosed'])

print(gender_analysis)

                    Total Count:  Percentage (%):
Male                         484        84.027778
Female                        81        14.062500
Other/NonDisclosed            11         1.909722

In [4]:
males =len(male_df.index)
females = len(female_df.index)
other = len(other_df.index)
totalrevother = other_df['Price'].sum()
gender_analysis2 = pd.DataFrame({"Total Count": [males, females, other],
                                 "Total Purchase Price:":[male_df['Price'].sum(), female_df['Price'].sum(),
                                 totalrevother], "Average Purchase Price" :
                                [male_df['Price'].mean(), female_df['Price'].mean(), other_df['Price'].mean()],
                                "Average Total Purchase per Person:" : [(male_df['Price'].sum()/male_df["SN"].nunique()),female_df['Price'].sum()/female_df["SN"].nunique()
                                ,(other_df['Price'].sum()/other_df["SN"].nunique())]}, index =['Male', 'Female','Other/NonDisclosed'] )
print(gender_analysis2)

                    Total Count  Total Purchase Price:  \
Male                        652                1967.64
Female                      113                 361.94
Other/NonDisclosed           15                  50.19

                    Average Purchase Price  Average Total Purchase per Person:
Male                              3.017853                            4.065372
Female                            3.203009                            4.468395
Other/NonDisclosed                3.346000                            4.562727

In [5]:
buckets = [0,9,14,19,24,29,34,39, 1000]

bucket_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34", "35-39","40+"]
purchase_data["Age range"] = pd.cut(purchase_data["Age"],buckets, labels = bucket_names)

new_group = purchase_data.drop_duplicates(subset =['SN'])
new_group= new_group.sort_values(by=['Age'])
Agerange = new_group.groupby('Age range').Age.count().reset_index(name ='Total Amount')
Agerange['percentage (%)'] = (Agerange['Total Amount']/576)*100
print(Agerange)

  Age range  Total Amount  percentage (%)
0       <10            17        2.951389
1     10-14            22        3.819444
2     15-19           107       18.576389
3     20-24           258       44.791667
4     25-29            77       13.368056
5     30-34            52        9.027778
6     35-39            31        5.381944
7       40+            12        2.083333

In [6]:
age_range = purchase_data.groupby('Age range')['Price'].agg(['count','sum','mean'])
age_range2 = age_range.rename({'count': 'Purchase Count', 'sum': 'Total Purchase Value', 'mean' : 'Average Purchase Price'}, axis='columns')
age_range2['Unique people'] = Agerange['Total Amount'].values
age_range2['Average Purchase Per Person'] = age_range2['Total Purchase Value']/age_range2['Unique people']
age_range2 = age_range2.drop('Unique people', 1)
print(age_range2)

           Purchase Count  Total Purchase Value  Average Purchase Price  \
Age range
<10                    23                 77.13                3.353478
10-14                  28                 82.78                2.956429
15-19                 136                412.89                3.035956
20-24                 365               1114.06                3.052219
25-29                 101                293.00                2.900990
30-34                  73                214.00                2.931507
35-39                  41                147.67                3.601707
40+                    13                 38.24                2.941538

           Average Purchase Per Person
Age range
<10                           4.537059
10-14                         3.762727
15-19                         3.858785
20-24                         4.318062
25-29                         3.805195
30-34                         4.115385
35-39                         4.763548
40+                           3.186667

In [7]:
df_8 = purchase_data.groupby('SN')['Price'].agg(['count','mean','sum'])
df_8 = df_8.rename({'count':'Purchase count', 'mean': 'Average Purchase Price','sum': 'Total Purchase Value' }, axis = 'columns')
df_8 = df_8.sort_values("Purchase count", ascending = False)
print(df_8.head())

             Purchase count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

In [8]:
df_9 = purchase_data.groupby('Item ID')['Price'].agg(['count','sum','mean'])
df_9 = df_9.rename({'count':'Purchase count', 'sum' : 'Total Purchase Value', 'mean': 'Item Price'}, axis = 'columns')
df_9 = df_9.sort_values(by ="Purchase count", ascending = False)
print(df_9.head())

         Purchase count  Total Purchase Value  Item Price
Item ID
92                   13                 59.99    4.614615
178                  12                 50.76    4.230000
145                   9                 41.22    4.580000
132                   9                 28.99    3.221111
108                   9                 31.77    3.530000

In [9]:
df_10 = df_9.sort_values(by = "Total Purchase Value", ascending = False)
print(df_10.head())

         Purchase count  Total Purchase Value  Item Price
Item ID
92                   13                 59.99    4.614615
178                  12                 50.76    4.230000
82                    9                 44.10    4.900000
145                   9                 41.22    4.580000
103                   8                 34.80    4.350000